<p id="notice"><%= notice %></p>

<h1>Investimentos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Nivel</th>
      <th>Valor</th>
      <th>Lucro-porcentagem</th>
      <th>Lucro-valor</th>
      <th>Dataretirada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investimentos.each do |investimento| %>
      <tr>
        <td><%= investimento.titulo %></td>
        <td><%= investimento.nivel %></td>
        <td><%= investimento.valor %></td>
        <td><%= investimento.lucro-porcentagem %></td>
        <td><%= investimento.lucro-valor %></td>
        <td><%= investimento.dataretirada %></td>
        <td><%= link_to 'Show', investimento %></td>
        <td><%= link_to 'Edit', edit_investimento_path(investimento) %></td>
        <td><%= link_to 'Destroy', investimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investimento', new_investimento_path %>
