<h1>Investimento: <%= @investimento.titulo.capitalize %></h1>
<hr>

<h4>Dados:</h4>
<p>Valor(R$): <%= number_to_currency(@investimento.valor) %></p>
<p>Lucro(%): <% if @investimento.nivel == 1 %>
  5%
  <% elsif @investimento.nivel == 2 %>
  10%
  <% elsif @investimento.nivel == 3 %>
  15%
  <% end %>
</p>
<p>Lucro(R$): <%= number_to_currency(@investimento.lucrovalor) %></p>
<p>Recebido em: <%= @investimento.created_at.to_date %></p>
<%  @investimento.dataretirada = @investimento.created_at.to_date + 30 %>
<%  @investimento.save %>
<p>Retirada (30 dias após o recebimento): <%= @investimento.dataretirada.to_date %></p>
<%= link_to "Editar", edit_investimento_path(@investimento) %> |
<%= link_to "Voltar", investimentos_path %>
