<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @investimento.titulo %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @investimento.nivel %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @investimento.valor %>
</p>

<p>
  <strong>Lucro-porcentagem:</strong>
  <%= @investimento.lucro-porcentagem %>
</p>

<p>
  <strong>Lucro-valor:</strong>
  <%= @investimento.lucro-valor %>
</p>

<p>
  <strong>Dataretirada:</strong>
  <%= @investimento.dataretirada %>
</p>

<%= link_to 'Edit', edit_investimento_path(@investimento) %> |
<%= link_to 'Back', investimentos_path %>
